[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2 = "*"
gh-md-to-html = "*"
mistune = "==2.0.0rc1"
pygments = "==2.9.0"

[dev-packages]
jedi = "*"
flake8 = "*"
ipdb = "*"

[requires]
python_version = "3.8"
